.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
 }

#btn-start, #number_of_objects, #status
{
  font-size: 18px;
}

.copy_right_footer
{
  text-align: center;
  position: fixed;
  line-height: 3;
  width: 100%;
  bottom: 0;
  color: black;
  background-color: aquamarine;
}

canvas{
    border-radius: 10px;
    box-shadow: 5px 5px 5px white;
    border: 2px solid black;
    margin-top: 100px;
}

body{
    background-size: cover;
}

